@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background: linear-gradient(
    to bottom,
    #cdd16b,
    #c1d673,
    #b4db7c,
    #a7df87,
    #99e393,
    #9ee18e,
    #a2df88,
    #a7dd83,
    #bfd46f,
    #d5c962,
    #e9bd5c,
    #fbb05f
  );
}

.main-background {
  background: linear-gradient(
    180deg,
    rgba(123, 240, 234, 1) 0%,
    rgba(193, 250, 129, 1) 67%,
    rgba(245, 193, 132, 1) 100%
  );
}

@layer base {
  html {
    font-family: "Roboto", sans-serif;
  }
}

@keyframes dots {
  0% {
    content: " .";
  }
  20% {
    content: " ..";
  }
  40% {
    content: " ...";
  }
  60% {
    content: " .";
  }
  80% {
    content: " ..";
  }
  100% {
    content: " ...";
  }
}

.typing-dots::before {
  content: " ...";
  animation: dots 3s ease-in-out infinite;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: lightblue;
  border-radius: 100%;
}
